In [16]:
import pandas as pd
from scipy import integrate
from statsmodels.tsa.stattools import grangercausalitytests
from statsmodels.tsa.tsatools import detrend
from statsmodels.tsa.vector_ar.vecm import coint_johansen

#Import data & transfer timestamp to datetime
#tweets_df = pd.read_csv("Downloads/results_tweet.csv", encoding="unicode_escape",sep=",")
bedroom_df = pd.read_csv("Downloads/Bedroom_data.csv", encoding="unicode_escape",sep=",")
bedroom_df = bedroom_df.iloc[:4007]

In [17]:
lr_df = pd.read_csv("Downloads/living_room_data.csv", encoding="unicode_escape",sep=",")
lr_df = lr_df.iloc[:4007]
pmv_17 = pd.read_csv("PMV_TSV_2017.csv", encoding="unicode_escape",sep=",")
pmv_18= pd.read_csv("PMV and TSV.csv", encoding="unicode_escape",sep=",")

In [18]:
pmv_17 = pmv_17.loc[1:]
pmv_17 = pmv_17.rename({"November": "November16-PMV", "Unnamed: 2": "November16-TSV", "December": "December16-PMV",
                       "Unnamed: 4": "December16-TSV", "January": "January17-PMV", 
                       "Unnamed: 6": "January17-TSV", "February": "February17-PMV", "Unnamed: 8": "February17-TSV",
                        "March": "March17-PMV", "Unnamed: 10": "March17-TSV"}, axis=1)

In [336]:
pmv_18= pd.read_csv("PMV and TSV.csv", encoding="unicode_escape",sep=",")
pmv_18 = pmv_18.rename({"December": "December17-PMV",
                       "Unnamed: 2": "December17-TSV", "January": "January18-PMV", 
                       "Unnamed: 4": "January18-TSV", "February": "February18-PMV", "Unnamed: 6": "February18-TSV",
                        "March": "March18-PMV", "Unnamed: 8": "March18-TSV"}, axis=1)
pmv_18 = pmv_18.iloc[1:]

In [20]:
pmv_17_new = pmv_17.copy()

In [21]:
pmv_17_new = pmv_17.astype(str).astype(float)
pmv_17_new.fillna((pmv_17.mean()), inplace=True)

In [8]:
pmv_17_new.head()

,ID,November16-PMV,November16-TSV,December16-PMV,December16-TSV,January17-PMV,January17-TSV,February17-PMV,February17-TSV,March17-PMV,March17-TSV
1,1.0,-3.388,3.0,-3.183,1.0,-3.647,0.0,-3.894,1.0,-3.275,1.0
2,2.0,-1.524,-1.0,-1.088,1.0,-0.908,1.0,-1.285,-1.0,-2.347,-1.0
3,4.0,-1.240,0.0,-1.188,0.0,-1.962,-2.0,-1.207,0.0,-1.050,0.0
4,5.0,-1.864,-1.0,-1.519,1.0,-1.401,1.0,-1.719,0.0,-1.912,-1.0
5,9.0,-1.385,0.0,-1.502,0.0,-2.060,-1.0,-2.150,-1.0,-2.150,-1.0

In [337]:
pmv_18_full = pmv_18.copy()
pmv_18_full = pmv_18_full.astype(str).astype(float)
pmv_18_full.fillna((pmv_18_full.mean()), inplace=True)

In [23]:
bedroom_df = bedroom_df.drop("ID27",axis=1)

In [24]:
bedroom_df2 = bedroom_df.copy()

In [25]:
x = bedroom_df2.loc[:, "ID1":"ID43"]
x = x.astype(str).astype(float)
x = x.fillna(x.mean())

In [13]:
X = x.T

In [26]:
x = pd.concat((bedroom_df2.Timestamp, x), axis = 1)

In [474]:
x_mar18 = x[x["Timestamp"].str.contains("03/2018")]

In [29]:
tsv_17 = pmv_17[["ID", "November16-TSV", "December16-TSV", "January17-TSV", "February17-TSV", "March17-TSV"]]
tsv_17.rename(columns = {"November16-TSV": "November 2016", "December16-TSV": "December 2016", "January17-TSV": "January 2017", 
              "February17-TSV": "February 2017", "March17-TSV": "March 2017"})

      ID November 2016 December 2016 January 2017 February 2017 March 2017
1    1.0             3             1            0             1          1
2    2.0            -1             1            1            -1         -1
3    4.0             0             0           -2             0          0
4    5.0            -1             1            1             0         -1
5    9.0             0             0           -1            -1         -1
6   11.0            -1            -2           -3            -3         -2
7   12.0             1            -2            0            -2          0
8   14.0             1             1            1             1          1
9   15.0             1             1            2             1          1
10  16.0             1             1            1            -1          1
11  19.0             1             1            1             1          1
12  21.0             1             1            1             1          1
13  22.0             1             1            1             1          1
14  23.0             1             1            1            -2          1
15  24.0             1             1            1             1          1
16  25.0            -1             1            1            -2          1
17  26.0             1             1            1             1          1
18  27.0             0             1            0             0          0
19  28.0             0             0           -2             0          0
20  29.0             1             1            1             1          1
21  31.0            -1             1           -2            -2         -2
22  32.0             1             1            1             1          1
23  33.0             2            -2           -3            -3         -3
24  34.0            -2            -2           -3            -3         -2
25  35.0            -2             0           -3            -2         -2
26  36.0             1             1            1             1          1
27  38.0             0            -1            0             0          0
28  39.0             1             1            1             1          1
29  40.0            -1            -1           -2            -1         -1
30  41.0             1             1            1             1          1
31  43.0             1             1            1             1          1

In [ ]:
tsv_17_march = tsv_17[["ID", "March17-TSV"]]
tsv_17_march["ID"] = tsv_17_march["ID"].astype(int)

In [477]:
tsv_18_march["ID"] = 'ID' + tsv_18_march["ID"].astype(str)
#tsv_16_november.set_index("ID")

/Users/aikaterinikatsarou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [478]:
tsv_18_march = tsv_18_march.T

In [479]:
tsv_18_march.columns = tsv_18_march.iloc[0]

In [481]:
tsv_18_march = tsv_18_march.drop("ID")

In [502]:
x_mar18 = pd.concat([x_mar18, tsv_18_march], axis=0)

/Users/aikaterinikatsarou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [504]:
x_mar18 = x_mar18.dropna(axis=1)

In [486]:
x_mar18 = x_mar18.reset_index().drop("index", axis=1)

In [506]:
x_mar18.to_csv( "x_mar18.csv", index=False, encoding='utf-8-sig')

In [52]:
lr_df = lr_df[lr_df["Timestamp"].notna()]

In [53]:
lr_df2 = lr_df.copy()

y = lr_df2.loc[:, "ID1":"ID43"]
y = y.astype(str).astype(float)
y = y.fillna(y.mean())

y = pd.concat((lr_df2.Timestamp, y), axis = 1)

In [489]:
y_mar18 = y[y["Timestamp"].str.contains("03/2018")]

In [491]:
y_mar18 = y_mar18.reset_index()

In [492]:
y_mar18 = y_mar18.drop(["index"], axis=1)

In [56]:
tsv_16_november.columns= tsv_16_november.iloc[0]

In [494]:
y_mar18 = pd.concat([y_mar18, tsv_18_march], axis=0)

/Users/aikaterinikatsarou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [496]:
y_mar18 = y_mar18.dropna(axis=1)

In [90]:
x_nov16 = x_nov16.T
y_nov16 = y_nov16.T

In [507]:
mar18 = pd.concat([x_mar18, y_mar18], axis=1)

/Users/aikaterinikatsarou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [471]:
feb18 = feb18.iloc[0:449]

In [509]:
mar18 = mar18.fillna(0)

In [470]:
feb18.iloc[448] = feb18.iloc[448].astype(float) + feb18.loc["February18-TSV"].astype(float)

In [395]:
dec17 = dec17.iloc[0:497]

In [511]:
mar18.to_csv( "mar18.csv", index=False, encoding='utf-8-sig')

In [175]:
jan17 = pd.concat([x_jan17, y_jan17], axis=0)

/Users/aikaterinikatsarou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [133]:
nov16 = nov16.dropna(axis=1)

In [126]:
dec16 = dec16.iloc[0:497]

In [435]:
jan18.to_csv( "jan18.csv", index=False, encoding='utf-8-sig')